%ul.breadcrumb
  %li
    %a{:href => "#"} OutdoorGear
    %span.divider /
  %li.active You are here
%ul.page-tool
  %li.btn 
    = link_to "發表新主題", new_forum_board_topic_path(@topic.board)
  = will_paginate @posts  
.post-content
  .post-user-info
    .user-image= image_tag( lorem_image("100x120"), :alt => "")
    .user-name= lorem_name
    %ul.stats-tabs
      %li
        %a{:href => "/user/100001386398010/recipes"}
          %span> 追踨
          9
      %li
        %a{:href => "/user/100001386398010/dishes"}
          %span> 粉絲
          0
      %li
        %a{:href => "/user/100001386398010/followers"}
          %span> 收藏
          17
      %li
        %a{:href => "/user/100001386398010/followers"}
          %span> 發表
          10
  .post-text
    %section
      %header
        %h1 〈糧食〉輕快風乾燥飯
      %article
        %header
          %h1
          輕快風乾燥飯介紹:
          .msgcontent
            %font{:size => "3"}
              %span{:lang => "ZH-CN", :style => "FONT-FAMILY:Verdana;"}
                %p.MsoNormal{:style => "MARGIN:0cm 0cm 0pt;"}
                  %span{:lang => "ZH-CN", :style => "FONT-FAMILY:Verdana;"}
                  %strong
                    %span{:style => "FONT-SIZE:20pt;FONT-FAMILY:新細明體;"}
                      %font{:color => "#ff0000"}
                        輕快風乾燥飯介紹:
                        %br/
                    %font{:color => "#ffff00"} 背包客廚房系列:
                  %br
                    本產品採站立夾鍊袋式包裝,內附控制水位之注水線標示,沸水可直接注入袋內, 熱水沖泡十分鐘即可食用,也可以用冷水沖泡或微波加熱喔！
                    %br
                      %strong>
                        %font{:color => "#ffff00"}
                          懶得煮飯系列:
                          %br/
                      以冷凍乾燥技術避免傳統乾燥食品的大量營養流失, 並保存食品之最佳風味與口感,沸水沖泡10分鐘即可食用。
                      %br
                        *以上資料來自輕快風網站
                        %br
                          %br
                            %span{:style => "FONT-SIZE:20pt;FONT-FAMILY:新細明體;"}
                              %strong
                                %font{:color => "#ff0000"} 實物調理照片:
                %p.MsoNormal{:align => "center", :style => "MARGIN:0cm 0cm 0pt;TEXT-ALIGN:center;"}
                  %span{:lang => "EN-US", :style => "FONT-FAMILY:Verdana;"}
                    %img#ll_0{:src => "http://blog.yimg.com/2/jCqnTSt7s5_u3_hRIdt.9woSo9J_xhTncLN1w24ws_IvIZRbXsNFpQ--/54/l/D1Ad2HLkSXoh4KSqSu2hhw.jpg"}
                      %br
                        %strong
                          %font{:color => "#ff7f00"} ↑
                        %span{:lang => "ZH-CN", :style => "FONT-FAMILY:Verdana;"} 多種口味的輕快風乾燥飯           
.post-content
  .post-user-info
    .user-image= image_tag( lorem_image("100x120"), :alt => "")
    .user-name= lorem_name
    %ul.stats-tabs
      %li
        %a{:href => "/user/100001386398010/recipes"}
          %span> 追踨
          9
      %li
        %a{:href => "/user/100001386398010/dishes"}
          %span> 粉絲
          0
      %li
        %a{:href => "/user/100001386398010/followers"}
          %span> 收藏
          17
      %li
        %a{:href => "/user/100001386398010/followers"}
          %span> 發表
          10
  .post-text
    看起來相當不錯哦！
.post-content
  .post-user-info
    .user-image= image_tag( lorem_image("100x120"), :alt => "")
    .user-name= lorem_name
    %ul.stats-tabs
      %li
        %a{:href => "/user/100001386398010/recipes"}
          %span> 追踨
          9
      %li
        %a{:href => "/user/100001386398010/dishes"}
          %span> 粉絲
          0
      %li
        %a{:href => "/user/100001386398010/followers"}
          %span> 收藏
          17
      %li
        %a{:href => "/user/100001386398010/followers"}
          %span> 發表
          10
  .post-text
    改天來試試看！
- @posts.each do |post|
  .post-content
    .post-user-info
      .user-image= image_tag( post.user.avatar.thumb.big, :alt => "")
      .user-name= post.user.name
      %ul.stats-tabs
        %li
          %a{:href => "/user/100001386398010/recipes"}
            %span> 追踨
            9
        %li
          %a{:href => "/user/100001386398010/dishes"}
            %span> 粉絲
            0
        %li
          %a{:href => "/user/100001386398010/followers"}
            %span> 收藏
            17
        %li
          %a{:href => "/user/100001386398010/followers"}
            %span> 發表
            10
    .post-text
      =post.content.html_safe
    
.quick-comment
  .comment-title
    %h1 快速回覆  
  = simple_form_for @new_post, :url => forum_posts_path(@board) do |f|
    = render :partial => 'forum/posts/form', :locals => { :f => f}
    %a.btn.btn-primary.btn-large{"data-toggle" => "modal", :href => "#myModal",:id => "insert-image"} 插入圖片
    %br
    %br
    = text_field :topic, "id",:value => @topic.id, :style => "display: none; "
    = f.button :submit, "發表回覆"
= render :partial => "_partials/photo_select"