.well
  = render :partial => "user_nav", :locals => { :user => @user}

  #item_box_container.item_box_container.center
    - @posts.each do |p|
      .item_box
        =link_to image_tag( p.picture.thumb.url, :alt => ""), post_path(p)
        .user-info
          .user-image= link_to image_tag( p.user.avatar.thumb.small, :alt => ""), user_path(p.user)
          .user-name= link_to display_name(p.user.name), user_path(p.user)
          %ul
            .count-info
              .fb-like{"data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "30"}
            .count-info
              = button_to "收藏", "#", :class => "btn btn-success"

:javascript    
  (function() {

  $(function() {
  return $(".nav.nav-pills li:eq(#{@nav_num})").addClass("active");
  });

  }).call(this);