.flexslider
  %ul.slides
    %li
      = image_tag "inacup_samoa.jpg"
      %p.flex-caption Captions and cupcakes. Winning combination.
    %li
      %a{:href => "#"}
        = image_tag "inacup_pumpkin.jpg"
      %p.flex-caption This image is wrapped in a link!
    %li
      = image_tag "inacup_donut.jpg"
    %li
      = image_tag "inacup_vanilla.jpg"
#index_box_container
  - 12.times do
    .index_box
      -@imheight = (rand(20)*10 +150).to_s + "px"
      = image_tag( lorem_image("200X#{@imheight}"), :alt => "",:height=> @imheight)
      %ul
        %li= link_to("我喜歡","#", :class => "icon-star")
        %li= link_to("評論","#", :class => "icon-comment")
  