.span9
  .flexslider
    %ul.slides
      %li
        = image_tag "inacup_samoa.jpg"
        %p.flex-caption Captions and cupcakes. Winning combination.
      %li
        %a{:href => "#"}
          = image_tag "inacup_pumpkin.jpg"
        %p.flex-caption This image is wrapped in a link!
      %li
        = image_tag "inacup_donut.jpg"
      %li
        = image_tag "inacup_vanilla.jpg"
  #item_box_container.item_box_container.center
    - 12.times do
      .item_box
        -@imheight = (rand(20)*10 +150).to_s + "px"
        = image_tag( lorem_image("200X#{@imheight}"), :alt => "",:height=> @imheight)
        .user-info
          .user-image= image_tag( lorem_image("50x50"), :alt => "",:height=> @imheight)
          .user-name= lorem_name
          .count-info
            %ul
              %li= link_to("我喜歡","#", :class => "icons-star")
              %li= link_to("評論","#", :class => "icons-eye")

  .fb-like-box{"data-header" => "true", "data-height" => "265", "data-href" => "http://www.facebook.com/myoutdoorgears", "data-show-faces" => "true", "data-stream" => "true", "data-width" => "920"}
.span3
  =render :partial => "_partials/sidebar"