.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_tags_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_tag_path
  .actions-bar.wat-cf
    = will_paginate @tags
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Tags
    .inner
      %table.table
        %tr
          %th.first.norwap
            = t("activerecord.labels.id", :default => "ID")
          %th
            = t("activerecord.attributes.admin_share.text", :default => t("activerecord.labels.text", :default => "Text"))
          %th.last &nbsp;
        - @tags.each.with_index do |tag, index|
          %tr{:class => cycle("odd", "even")}
            %td.norwap
              =tag.id
            %td
              = link_to tag.name, admin_tag_path(tag)
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_tag_path(tag)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_tag_path(tag)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_tag_path(tag), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
- content_for :sidebar, render(:partial => 'admin/sidebar')
