.well
  分類
  %ul.nav.nav-list
    %li
      #accordion.accordion
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
            服飾
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %ul.nav
              %li= link_to "男士","#"
              %li= link_to "女士","#"
              %li= link_to "小孩","#"
              %li= link_to "鞋子","#"
    %li
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
            戶外裝備
        #collapseTwo.accordion-body.collapse
          .accordion-inner
            XDDD
    %li
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseThree"}
            背包
        #collapseThree.accordion-body.collapse
          .accordion-inner
            XDDD
    %li
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFour"}
            帳篷
        #collapseFour.accordion-body.collapse
          .accordion-inner
            哈哈
    %li
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseFive"}
            行李箱
        #collapseFive.accordion-body.collapse
          .accordion-inner
            XDDD
    %li
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseSix"}
            其它
        #collapseSix.accordion-body.collapse
          .accordion-inner
            oao
.well
  分類
  %br
  - tag_cloud(tags, %w(css1 css2 css3 css4)) do |tag, css_class|
    = link_to tag.name, category_index_path(tag.name), :class => css_class
.well
  Facebook 動態
  .fb-recommendations{"data-header" => "true", "data-height" => "300", "data-width" => "250"}

  