%h3 the topic title here
%h3= @topic.title
= simple_form_for @post, :url => posts_path(:topic_id => @topic) do |f|
  = render :partial => 'form', :locals => { :f => f}
  tags
  = text_area :text ,"tag_area",:cols => false, :rows => false
  = f.submit


#filelist No runtime found.
%br/
%a#pickfiles{:href => "#"} [選擇圖片]
%a#uploadfiles{:href => "#"} [上傳圖片]