.brands
  %ul
    %li= link_to( image_tag("brands/hanchor_logo.png"),"#")
    %li= link_to( image_tag("brands/blackdiamond_logo.png"),"#")
    %li= link_to( image_tag("brands/chaco_logo.png"),"#")
    %li= link_to( image_tag("brands/coleman_logo.png"),"#")
    %li= link_to( image_tag("brands/deuter_logo.png"),"#")
    %li= link_to( image_tag("brands/ecco_logo.png"),"#")
    %li= link_to( image_tag("brands/logo_millet.png"),"#")
    %li= link_to( image_tag("brands/loki_logo.png"),"#")
    %li= link_to( image_tag("brands/merrell_logo.png"),"#")
    %li= link_to( image_tag("brands/petzl_logo.png"),"#")
    %li= link_to( image_tag("brands/primus_logo.png"),"#")
    %li= link_to( image_tag("brands/scarpa_logo.png"),"#")
    %li= link_to( image_tag("brands/seven_twenty_logo.png"),"#")
    %li= link_to( image_tag("brands/suunto_logoN.png"),"#")
    