!!! 5
%heml
  %head
    %title= yield :title
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap.css"
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css"    
  %body
    #topbar.topbar
      =render :partial => "_partials/topbar"
    #container.container-fluid
      .row-fluid
        =yield
        =render :partial => "_partials/sidebar"
    #footer
      =render :partial => "_partials/footer"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/jquery.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js" 
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js" 
    = javascript_include_tag "http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"       
    